
<div class="card">

  <p-button
    label="Ingresar"
    class="w-full p-3 text-xl"
  ></p-button>


  <span class="p-float-label my-5">
      <input [formControl]="coinNameControl" id="float-input" type="text" pInputText class="w-full">
      <label for="float-input" class="font-bold">Buscar por nombre</label>
  </span>

  <p-table [value]="filteredCoins" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let column of columns"  style="width:20%">{{column}} </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-coin let-i="rowIndex">
      <tr>
        <td>
        <span>
          {{i+1}}
        </span>
        </td>
        <td>
          <img [src]="coin.image" [alt]="coin.name" style="width: 2rem">
          <span>
          {{coin.name}}
        </span>
          <span>
          {{coin.symbol}}
        </span>
        </td>

        <td>
        <span>
          {{coin.current_price.toLocaleString()}}
        </span>
        </td>

        <td [ngClass]="coin.price_change_percentage_24h > 0 ? 'text-green-600' : 'text-red-500'">
          {{coin.price_change_percentage_24h}}
        </td>


        <td>
          {{coin.total_volume.toLocaleString() }}
        </td>

      </tr>
    </ng-template>
  </p-table>
</div>
